# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Logs
logs/
*.log
*.log.*

# Env files
.env*
!.env.example

# MacOS
.DS_Store

# VSCode
.vscode/

# Python virtual environments
venv/
.envrc
.env

